<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta charset="utf-8" />
	
	<title>Partyquire</title>
	
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet" />
    <link href="css/fonts.css" rel="stylesheet" />
    <link href="css/blueberry.css" rel="stylesheet" />
    <link href="css/style.css" rel="stylesheet" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>
<body>
	<script src="script/jquery.js"></script>
	<script src="script/jquery.blueberry.js"></script>
	<script src="script/bootstrap.min.js"></script>
	<script src="script/jquery.easing.1.3.js"></script>
	<script src="script/jquery.fittext.js"></script>
	<script>
	</script>
	<div class="container container_top">
		<div class="row title-area">
			<div class="col-md-4" id="logo_area">
				<h1 id="logo">
					<span class="violet">Party</span><span class="orange">quire</span>
				</h1>
				<h4 id="motto">
					Your first Party Venue Partner in UAE
				</h4>
			</div>
			<div class="col-md-4">
			
			</div>
			<div class="col-md-4">
			
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<img src="images/listing_photo.gif" width="100%">
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 text-center">
				<h4 class="red">Insert Photos</h4>
				<p><strong>Step 4 -  Add Your Photos (Optional But Recommended)</strong></p>
				<p style="margin-bottom:30px"><strong>Venues with more than one photo get 300% more searches and leads.</strong></p>
				<p><strong>Upload some great photos of your venue. (<span class="red">Max file size -MB</span>)</strong></p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 col-md-offset-4" style="padding: 20px; background:#F2F2F2;border:1px solid #cdcdcd;margin-bottom: 40px;">
				<h4 class="red">IFrame to be inserted here (PHP side should be ready before this can be made)</h4>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 col-md-offset-4">
				<label><input type="checkbox"> I accept the <a href="#">Venue Terms of Use</a> for this Listing</label>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 col-md-offset-4" style="text-align:center;margin-top: 40px;margin-bottom: 40px;">
				<button style="background: #7AC943;color:#fff;border:0;padding:5px 55px;font-size: 31px;">Confirmation</button>
			</div>
		</div>
		<div class="row" id="extralinks">
			<div class="col-md-2">
				<p><a href="#aboutus">About Us</a></p>
				<p><a href="#">Our Team</a></p>
				<p><a href="#">Jobs</a></p>
				<p><a href="#">Sign Up</a></p>
				<p><a href="#">Log In</a></p>
				<p><a href="#">Help</a></p>
			</div>
			<div class="col-md-2">
				<p><a href="#">Partners</a></p>
				<p><a href="#">Listing</a></p>
				<p><a href="#">Advertising</a></p>
				<p><a href="#">Pricing</a></p>
			</div>
			<div class="col-md-2">
				<p><a href="#">Terms of Use</a></p>
				<p><a href="#">Privacy Policy</a></p>
			</div>
			<div class="col-md-2">
				<p>Get Socials</p>
				<p><a href="#"><img src="images/facebook_small.gif" /></a><a href="#"><img src="images/twitter_small.gif" /></a><a href="#"><img src="images/gplus_small.gif" /></a></p>
			</div>
			<div class="col-md-4">
				<p>Contact Information</p>
				<p>Email: info@partyquire.com</p>
				<p>Mob.: +971 507281097</p>
			</div>
		</div>
		<div class="row" id="footer">
			<div class="col-md-12">
				&copy;Partyquire.com 2013, All Rights Reserved
			</div>
		</div>
	</div>
</body>
</html>